.page{
    width:100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.925);
}

.top-tags{
    bottom: auto;
    top: 35px;
}

.tags{
    color: #ffd700;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 120px;
    font-size: 18px;
    font-family: 'La Belle Aurore';

}

.bottom-tag-html{
    margin-left: -20px;

}

.container{
    width: 60%;
    will-change: contents;
    height: 1000%;
    min-height: 566px;
    opacity: 0;
    top:5%;
    z-index: 1;
    margin: 0 auto;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay:1s;
}

@media (max-width: 1180px) {
    .page {
        overflow: scroll;
        min-height: min-content;
        position: absolute;
    }
}
